<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header-section">
        <h1>Welcome to the Home Page</h1>
    </div>
    <div class="booking-section">
        /* Here is where one books a spa service by choosing date, time and service they want and forwarding personal details for the booking to be done  */
    </div>
    <div class="pay-section">
        /* Here is where one pays for the service they have booked by using m-pesa stk method and then submits where then the series of actions to happen in the backend begin */
    <button>Book Service</button>
    </div>
</body>

</html>